<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IObliczService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2222/ProjektWcf/Service1/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObliczService"
                contract="ObliczServiceReference.IObliczService" name="BasicHttpBinding_IObliczService" />
        </client>
    </system.serviceModel>
</configuration>